{{ if eq .chezmoi.os "linux" -}}

{{   $pkgs_standard := list
       "git"
       "gitui"
       "fish"
       "make"
       "chezmoi"
       "wireplumber"
       "pipewire"
       "foot"
       "firefox"
       "arkenfox-user.js"
       "ranger"
       "xplr"
       "btop" -}}

{{   $pkgs_emacs := list
       "emacs-wayland"
       "hunspell"
       "hunspell-en_us" -}}

{{   $pkgs_security := list
       "gnupg"
       "libusb"
       "libfido2"
       "python-setuptools"
       "python-pip"
       "python-pgpy"
       "python-ptyprocess"
       "onlykey-udev" -}}

{{   $pip_security := list
       "onlykey"
       "onlykey-agent" -}}

{{   $pkgs_hyprland := list
       "hyprland"
       "hyprpaper"
       "hyprlang"
       "hypridle"
       "hyprlock"
       "hyprcursor"
       "nwg-shell"
       "swaync"
       "ttf-jetbrains-mono-nerd"
       "xdg-desktop-portal-hyprland"
       "qt5-wayland"
       "qt6-wayland"
       "polkit-kde-agent"
       "cliphist"
       "brightnessctl"
       "mullvad-browser-bin"
       "emacs-wayland" -}}

{{   $sudo := "sudo " -}}
{{   if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{   end -}}

#!/bin/bash

set -eufo pipefail

yay -Syu
yay -S --noconfirm --needed {{ $pkgs_standard | join " " }}
yay -S --noconfirm --needed {{ $pkgs_emacs | join " " }}
yay -S --noconfirm --needed {{ $pkgs_security | join " " }}
pip install --break-system-packages {{ $pip_security | join " " }}
{{ end -}}
