{{ if eq .chezmoi.os "linux" -}}

{{   $pkgs_system := list
       "interception-caps2esc" -}}

{{   $pkgs_standard := list
       "git"
       "gitui"
       "make"
       "chezmoi"
       "ranger"
       "xplr"
       "firefox" -}}

{{   $pkgs_hyprland := list
       "hyprland"
       "hyprpaper"
       "hyprlang"
       "hypridle"
       "hyprlock"
       "hyprcursor"
       "nwg-shell"
       "swaync"
       "ttf-jetbrains-mono-nerd"
       "xdg-desktop-portal-hyprland"
       "qt5-wayland"
       "qt6-wayland"
       "polkit-kde-agent"
       "pipewire"
       "wireplumber"
       "cliphist"
       "brightnessctl"
       "foot"
       "emacs-wayland" -}}

{{   $sudo := "sudo " -}}
{{   if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{   end -}}

#!/bin/bash

set -eufo pipefail

yay -Syu
yay -S --noconfirm --needed {{ $pkgs_system   | join " " }}
yay -S --noconfirm --needed {{ $pkgs_standard | join " " }}
yay -S --noconfirm --needed {{ $pkgs_hyprland | join " " }}

{{ end -}}
